body,
html {
    width: auto;
    height: auto;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#container {
    width: auto;
    min-width: 250px;
    position: relative;
}

#loading {
    color: #17843C;
    margin: 10px auto;
    width: 50px;
    text-align: center;
}

#initial-content {
    position: relative;
}

#initial-content #save {
    display: block;
}

.link {
    margin: 5px;
    font-size: 9px;
    position: absolute;
    right: 0;
    z-index: 10;
}

.link a,
.link a:visited {
    color: #000000;
}

.train {
    width: 25px;
    position: relative;
    top: 5px;
}

.option input#save{
    margin: auto 0;
}

*:focus {
    outline: none;
}

table.train-table {
    border-collapse: collapse;
    margin: 5px auto;
}

table.train-table,
.train-table th,
.train-table td {
    border: 2px solid #17843C;
    font-size: 10px;
}

.train-table th,
.train-table td {
    padding: 5px;
}

.train-table th.table-header{
    width: 80px;
}

.train-table td {
    text-align: center;
}

.train-table th {
    background-color: #17843C;
    color: #FFFFFF;
}