body,
html {
    width: auto;
    height: auto;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#container {
    width: auto;
}

#status,
#error {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

#status {
    font-size: 14px;
}

#error {
    font-size: 12px;
}

.absolute {
    position: absolute;
}

.option {
    margin: 10px;
    display: inline-block;
}

.label {
    display: block;
}

.label,
.label-occurrences {
    font-size: 12px;
    margin-bottom: 5px;
}

#save {
    right: 0;
}

.options #save {
    position: absolute;
}

#initial-content #save {
    display: block;
}

#initial-content {
    position: relative;
}

#option-container {
    display: inline-block;
    position: relative;
}

#img-background {
    width: 100%;
    background-image: url('../img/logo.jpg');
    background-size: 100% 100%;
    height: auto;
    /*opacity:0.3;*/
}

.hide {
    display: none;
}

.link{
    margin:5px;
    font-size: 8px;
    text-align: right;
}

#option-status {
    margin: 5px;
}

input.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table,
th,
td {
    border: 2px solid black;
    font-size: 10px;
}

th,
td {
    padding: 5px;
}

td {
    text-align: center;
}